<launch>
  <arg name="route_id" default="1" />
  <arg name="config_file" default="$(find inspection_nav)/config/point$(arg route_id).yaml" />
  <arg name="goal_frame" default="map" />
  <arg name="goal_timeout_sec" default="0.0" />
  <arg name="continue_on_failure" default="false" />
  <arg name="enable_path_visualization" default="false" />
  <arg name="enable_gimbal_action" default="true" />
  <arg name="gimbal_service_name" default="/gimbal/execute_action" />
  <arg name="gimbal_action_name" default="inspect" />

  <node pkg="inspection_nav" type="goal_sender_node" name="goal_sender" args="$(arg route_id)" output="screen">
    <param name="config_file" value="$(arg config_file)" />
    <param name="goal_frame" value="$(arg goal_frame)" />
    <param name="goal_timeout_sec" value="$(arg goal_timeout_sec)" />
    <param name="continue_on_failure" value="$(arg continue_on_failure)" />
    <param name="enable_path_visualization" value="$(arg enable_path_visualization)" />
    <param name="enable_gimbal_action" value="$(arg enable_gimbal_action)" />
    <param name="gimbal_service_name" value="$(arg gimbal_service_name)" />
    <param name="gimbal_action_name" value="$(arg gimbal_action_name)" />
  </node>
</launch>
